@font-face
{
  font-family: Arvo;
  src: url("fonts/Arvo.ttf");
}
@font-face
{
  font-family: OpenS;
  src: url("fonts/OpenSans.ttf");
}

body 
{
  background-color: light gray;
  color: #333;
  margin: 0;
  padding: 20px;
}
h1
{
  font-family: Arvo;
  color: #0077b6;
  text-align: center;
  font-size: 2.5;
}
h2
{
  font-family: OpenS;
  color: #000;
  margin-top: 20px;
  font-size: 2;
}
img
{
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
}
iframe
{
  display: block;
  margin: 20px auto;
  border: 2px solid #0077b6;
  border-radius: 10px;
}
ol
{
  margin-left: 20px;
  font-size: 1.2;
}
strong
{
  color: red;
}




:root
{
  background-color: light gray;
}
