@font-face {
  font-family: Arvo;
  src: url("fonts/Arvo.ttf");
}
@font-face {
  font-family: OpenS;
  src: url("fonts/OpenS.ttf");
}
body {
  font-family: Arvo;
  background-color: black;
  color: white;
  text-align: center;
}
header {
  background-color: red;
  padding: 20px;
}
h1, h2 {
  font-family: OpenS;
  color: white;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
section {
  padding: 20px;
}
footer{
  background-color: red;
  padding: 10px;
  margin-top: 20px;
}
