@font-face {
  font-family: Arvo;
  src: url("fonts/Arvo.ttf");
}
@font-face {
  font-family: OpenS;
  src: url("fonts/OpenS.ttf");
}
body {
  font-family: Arvo;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #2a9df4;
  margin-top: 20px;
}
nav {
  background-color: #333;
  color: white;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  text-decoration: underline;
}
section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
img {
  height: 100px;
}
ul {
  padding-left: 20px;
}
li {
  line-height: 1.6;
}
